/*
The MIT License

Copyright 2016 Lucian I. Last

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
/* 
    Created on : 07-Jun-2016, 08:32:32
    Author     : Lucian I. Last
*/
/**** Colours *************************/
/**************************************/
/**
* @file: highslide.css 
* @version: 5.0.0
*/
/* line 48, ../sass/mhighslide.scss */
.highslide-container div {
  font-family: Verdana, Helvetica;
  font-size: 10pt;
}

/* line 52, ../sass/mhighslide.scss */
.highslide-container table {
  background: none;
  table-layout: auto;
}

/* line 56, ../sass/mhighslide.scss */
.highslide {
  outline: none;
  text-decoration: none;
}

/* line 60, ../sass/mhighslide.scss */
.highslide-active-anchor img {
  visibility: hidden;
}

/* line 63, ../sass/mhighslide.scss */
.highslide-gallery .highslide-active-anchor img {
  border-color: black;
  visibility: visible;
  cursor: default;
}

/* line 68, ../sass/mhighslide.scss */
.highslide-image {
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
}

/* line 73, ../sass/mhighslide.scss */
.highslide-wrapper, .highslide-outline {
  background: #fff;
}

/* line 76, ../sass/mhighslide.scss */
.glossy-dark {
  background: #111;
}

/* line 82, ../sass/mhighslide.scss */
.highslide-number {
  font-weight: bold;
  color: #666;
  font-size: .9em;
}

/* line 87, ../sass/mhighslide.scss */
.highslide-caption {
  display: none;
  font-size: 1em;
  padding: 5px;
  /*background: white;*/
}

/* line 93, ../sass/mhighslide.scss */
.highslide-heading {
  display: none;
  font-weight: bold;
  margin: 0.4em;
}

/* line 98, ../sass/mhighslide.scss */
.highslide-dimming {
  /*position: absolute;*/
  background: black;
}

/* line 102, ../sass/mhighslide.scss */
a.highslide-full-expand {
  background: url(../img/fullexpand.gif) no-repeat;
  display: block;
  margin: 0 10px 10px 0;
  width: 34px;
  height: 34px;
}

/* line 109, ../sass/mhighslide.scss */
.highslide-loading {
  display: block;
  color: black;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 3px;
  border: 1px solid #fff;
  background-color: #fff;
  padding-left: 22px;
  background-image: url(../img/loader.white.gif);
  background-repeat: no-repeat;
  background-position: 3px 1px;
}

/* line 124, ../sass/mhighslide.scss */
a.highslide-credits,
a.highslide-credits i {
  padding: 2px;
  color: #c0c0c0;
  text-decoration: none;
  font-size: 10px;
}

/* line 131, ../sass/mhighslide.scss */
a.highslide-credits:hover,
a.highslide-credits:hover i {
  color: #fff;
  background-color: #666;
}

/* line 136, ../sass/mhighslide.scss */
.highslide-move, .highslide-move * {
  cursor: move;
}

/* line 140, ../sass/mhighslide.scss */
.highslide-viewport {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: none;
  left: 0;
  top: 0;
}

/* line 150, ../sass/mhighslide.scss */
.highslide-overlay {
  display: none;
}

/* line 153, ../sass/mhighslide.scss */
.hidden-container {
  display: none;
}

/* Example of a semitransparent, offset closebutton */
/* line 157, ../sass/mhighslide.scss */
.closebutton {
  position: relative;
  top: -15px;
  left: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url(../img/close.png);
  /* NOTE! For IE6, you also need to update the highslide-ie6.css file. */
}

/*****************************************************************************/
/* Thumbnail boxes for the galleries.                                        */
/* Remove these if you are not using a gallery.                              */
/*****************************************************************************/
/* line 172, ../sass/mhighslide.scss */
.highslide-gallery ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 177, ../sass/mhighslide.scss */
.highslide-gallery ul li {
  display: block;
  position: relative;
  float: left;
  width: 106px;
  height: 106px;
  border: 1px solid #c0c0c0;
  background: #ddd;
  margin: 2px;
  padding: 0;
  line-height: 0;
  overflow: hidden;
}

/* line 190, ../sass/mhighslide.scss */
.highslide-gallery ul a {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* line 195, ../sass/mhighslide.scss */
.highslide-gallery ul img {
  position: relative;
  top: -50%;
  left: -50%;
}

/* line 200, ../sass/mhighslide.scss */
html > body .highslide-gallery ul li {
  display: table;
  text-align: center;
}

/* line 204, ../sass/mhighslide.scss */
html > body .highslide-gallery ul li {
  text-align: center;
}

/* line 207, ../sass/mhighslide.scss */
html > body .highslide-gallery ul a {
  position: static;
  display: table-cell;
  vertical-align: middle;
}

/* line 212, ../sass/mhighslide.scss */
html > body .highslide-gallery ul img {
  position: static;
}

/*****************************************************************************/
/* Controls for the galleries.											     */
/* Remove these if you are not using a gallery							     */
/*****************************************************************************/
/* line 220, ../sass/mhighslide.scss */
.highslide-controls {
  width: 195px;
  height: 40px;
  background: url(../img/controlbar-white.gif) 0 -90px no-repeat;
  margin: 20px 15px 10px 0;
}

/* line 226, ../sass/mhighslide.scss */
.highslide-controls ul {
  position: relative;
  left: 15px;
  height: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  background: url(../img/controlbar-white.gif) right -90px no-repeat;
}

/* line 236, ../sass/mhighslide.scss */
.highslide-controls li {
  float: left;
  padding: 5px 0;
  margin: 0;
  list-style: none;
}

/* line 242, ../sass/mhighslide.scss */
.highslide-controls a {
  background-image: url(../img/controlbar-white.gif);
  display: block;
  float: left;
  height: 30px;
  width: 30px;
  outline: none;
}

/* line 250, ../sass/mhighslide.scss */
.highslide-controls a.disabled {
  cursor: default;
}

/* line 253, ../sass/mhighslide.scss */
.highslide-controls a.disabled span {
  cursor: default;
}

/* line 256, ../sass/mhighslide.scss */
.highslide-controls a span {
  /* hide the text for these graphic buttons */
  display: none;
  cursor: pointer;
}

/* The CSS sprites for the controlbar - see http://www.google.com/search?q=css+sprites */
/* line 264, ../sass/mhighslide.scss */
.highslide-controls .highslide-previous a {
  background-position: 0 0;
}

/* line 267, ../sass/mhighslide.scss */
.highslide-controls .highslide-previous a:hover {
  background-position: 0 -30px;
}

/* line 270, ../sass/mhighslide.scss */
.highslide-controls .highslide-previous a.disabled {
  background-position: 0 -60px !important;
}

/* line 273, ../sass/mhighslide.scss */
.highslide-controls .highslide-play a {
  background-position: -30px 0;
}

/* line 276, ../sass/mhighslide.scss */
.highslide-controls .highslide-play a:hover {
  background-position: -30px -30px;
}

/* line 279, ../sass/mhighslide.scss */
.highslide-controls .highslide-play a.disabled {
  background-position: -30px -60px !important;
}

/* line 282, ../sass/mhighslide.scss */
.highslide-controls .highslide-pause a {
  background-position: -60px 0;
}

/* line 285, ../sass/mhighslide.scss */
.highslide-controls .highslide-pause a:hover {
  background-position: -60px -30px;
}

/* line 288, ../sass/mhighslide.scss */
.highslide-controls .highslide-next a {
  background-position: -90px 0;
}

/* line 291, ../sass/mhighslide.scss */
.highslide-controls .highslide-next a:hover {
  background-position: -90px -30px;
}

/* line 294, ../sass/mhighslide.scss */
.highslide-controls .highslide-next a.disabled {
  background-position: -90px -60px !important;
}

/* line 297, ../sass/mhighslide.scss */
.highslide-controls .highslide-move a {
  background-position: -120px 0;
}

/* line 300, ../sass/mhighslide.scss */
.highslide-controls .highslide-move a:hover {
  background-position: -120px -30px;
}

/* line 303, ../sass/mhighslide.scss */
.highslide-controls .highslide-full-expand a {
  background-position: -150px 0;
}

/* line 306, ../sass/mhighslide.scss */
.highslide-controls .highslide-full-expand a:hover {
  background-position: -150px -30px;
}

/* line 309, ../sass/mhighslide.scss */
.highslide-controls .highslide-full-expand a.disabled {
  background-position: -150px -60px !important;
}

/* line 312, ../sass/mhighslide.scss */
.highslide-controls .highslide-close a {
  background-position: -180px 0;
}

/* line 315, ../sass/mhighslide.scss */
.highslide-controls .highslide-close a:hover {
  background-position: -180px -30px;
}

/*****************************************************************************/
/* Styles for the HTML popups											     */
/* Remove these if you are not using Highslide HTML						     */
/*****************************************************************************/
/* line 323, ../sass/mhighslide.scss */
.highslide-maincontent {
  display: none;
}

/* line 326, ../sass/mhighslide.scss */
.highslide-html {
  background-color: #fff;
}

/* line 329, ../sass/mhighslide.scss */
.mobile .highslide-html {
  border: 1px solid #c0c0c0;
}

/* line 332, ../sass/mhighslide.scss */
.highslide-html-content {
  display: none;
  width: 400px;
  padding: 0 5px 5px 5px;
}

/* line 337, ../sass/mhighslide.scss */
.highslide-header {
  padding-bottom: 5px;
}

/* line 340, ../sass/mhighslide.scss */
.highslide-header ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

/* line 345, ../sass/mhighslide.scss */
.highslide-header ul li {
  display: inline;
  padding-left: 1em;
}

/* line 349, ../sass/mhighslide.scss */
.highslide-header ul li.highslide-previous, .highslide-header ul li.highslide-next {
  display: none;
}

/* line 352, ../sass/mhighslide.scss */
.highslide-header a {
  font-weight: bold;
  color: #666;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 358, ../sass/mhighslide.scss */
.highslide-header a:hover {
  color: black;
}

/* line 361, ../sass/mhighslide.scss */
.highslide-header .highslide-move a {
  cursor: move;
}

/* line 364, ../sass/mhighslide.scss */
.highslide-footer {
  height: 16px;
}

/* line 367, ../sass/mhighslide.scss */
.highslide-footer .highslide-resize {
  display: block;
  float: right;
  margin-top: 5px;
  height: 11px;
  width: 11px;
  background: url(../img/resize.gif) no-repeat;
}

/* line 375, ../sass/mhighslide.scss */
.highslide-footer .highslide-resize span {
  display: none;
}

/* line 380, ../sass/mhighslide.scss */
.highslide-resize {
  cursor: nw-resize;
}

/*****************************************************************************/
/* Styles for the Individual wrapper class names.							 */
/* See www.highslide.com/ref/hs.wrapperClassName							 */
/* You can safely remove the class name themes you don't use				 */
/*****************************************************************************/
/* hs.wrapperClassName = 'draggable-header' */
/* line 391, ../sass/mhighslide.scss */
.draggable-header .highslide-header {
  height: 18px;
  border-bottom: 1px solid #ddd;
}

/* line 395, ../sass/mhighslide.scss */
.draggable-header .highslide-heading {
  position: absolute;
  margin: 2px 0.4em;
}

/* line 400, ../sass/mhighslide.scss */
.draggable-header .highslide-header .highslide-move {
  cursor: move;
  display: block;
  height: 16px;
  position: absolute;
  right: 24px;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* line 410, ../sass/mhighslide.scss */
.draggable-header .highslide-header .highslide-move * {
  display: none;
}

/* line 413, ../sass/mhighslide.scss */
.draggable-header .highslide-header .highslide-close {
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 5;
  padding: 0;
}

/* line 420, ../sass/mhighslide.scss */
.draggable-header .highslide-header .highslide-close a {
  display: block;
  height: 16px;
  width: 16px;
  background-image: url(../img/closeX.png);
}

/* line 426, ../sass/mhighslide.scss */
.draggable-header .highslide-header .highslide-close a:hover {
  background-position: 0 16px;
}

/* line 429, ../sass/mhighslide.scss */
.draggable-header .highslide-header .highslide-close span {
  display: none;
}

/* line 432, ../sass/mhighslide.scss */
.draggable-header .highslide-maincontent {
  padding-top: 1em;
}

/* hs.wrapperClassName = 'titlebar' */
/* line 437, ../sass/mhighslide.scss */
.titlebar .highslide-header {
  height: 18px;
  border-bottom: 1px solid #ddd;
}

/* line 441, ../sass/mhighslide.scss */
.titlebar .highslide-heading {
  position: absolute;
  width: 90%;
  margin: 1px 0 1px 5px;
  color: #666;
}

/* line 448, ../sass/mhighslide.scss */
.titlebar .highslide-header .highslide-move {
  cursor: move;
  display: block;
  height: 16px;
  position: absolute;
  right: 24px;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* line 458, ../sass/mhighslide.scss */
.titlebar .highslide-header .highslide-move * {
  display: none;
}

/* line 461, ../sass/mhighslide.scss */
.titlebar .highslide-header li {
  position: relative;
  top: 3px;
  z-index: 2;
  padding: 0 0 0 1em;
}

/* line 467, ../sass/mhighslide.scss */
.titlebar .highslide-maincontent {
  padding-top: 1em;
}

/* hs.wrapperClassName = 'no-footer' */
/* line 472, ../sass/mhighslide.scss */
.no-footer .highslide-footer {
  display: none;
}

/* hs.wrapperClassName = 'wide-border' */
/* line 477, ../sass/mhighslide.scss */
.wide-border {
  background: #fff;
}

/* line 480, ../sass/mhighslide.scss */
.wide-border .highslide-image {
  border-width: 10px;
}

/* line 483, ../sass/mhighslide.scss */
.wide-border .highslide-caption {
  padding: 0 10px 10px 10px;
}

/* hs.wrapperClassName = 'borderless' */
/* line 488, ../sass/mhighslide.scss */
.borderless .highslide-image {
  border: none;
}

/* line 491, ../sass/mhighslide.scss */
.borderless .highslide-caption {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  background: #c0c0c0;
}

/* hs.wrapperClassName = 'outer-glow' */
/* line 498, ../sass/mhighslide.scss */
.outer-glow {
  background: #444;
}

/* line 501, ../sass/mhighslide.scss */
.outer-glow .highslide-image {
  border: 5px solid #444;
}

/* line 504, ../sass/mhighslide.scss */
.outer-glow .highslide-caption {
  border: 5px solid #444;
  border-top: none;
  padding: 5px;
  background-color: #666;
}

/* hs.wrapperClassName = 'colored-border' */
/* line 512, ../sass/mhighslide.scss */
.colored-border {
  background: #fff;
}

/* line 515, ../sass/mhighslide.scss */
.colored-border .highslide-image {
  border: 2px solid green;
}

/* line 518, ../sass/mhighslide.scss */
.colored-border .highslide-caption {
  border: 2px solid green;
  border-top: none;
}

/* hs.wrapperClassName = 'dark' */
/* line 524, ../sass/mhighslide.scss */
.dark {
  background: #111;
}

/* line 527, ../sass/mhighslide.scss */
.dark .highslide-image {
  border-color: black;
  background: #666;
}

/* line 531, ../sass/mhighslide.scss */
.dark .highslide-caption {
  color: #fff;
  background: #111;
}

/* line 535, ../sass/mhighslide.scss */
.dark .highslide-controls,
.dark .highslide-controls ul,
.dark .highslide-controls a {
  background-image: url(../img/controlbar-black-border.gif);
}

/* hs.wrapperClassName = 'floating-caption' */
/* line 542, ../sass/mhighslide.scss */
.floating-caption .highslide-caption {
  position: absolute;
  padding: 1em 0 0 0;
  background: none;
  color: #fff;
  border: none;
  font-weight: bold;
}

/* hs.wrapperClassName = 'controls-in-heading' */
/* line 552, ../sass/mhighslide.scss */
.controls-in-heading .highslide-heading {
  color: #666;
  font-weight: bold;
  height: 20px;
  overflow: hidden;
  cursor: default;
  padding: 0 0 0 22px;
  margin: 0;
  background: url(../img/icon.gif) no-repeat 0 1px;
}

/* line 562, ../sass/mhighslide.scss */
.controls-in-heading .highslide-controls {
  width: 105px;
  height: 20px;
  position: relative;
  margin: 0;
  top: -23px;
  left: 7px;
  background: none;
}

/* line 571, ../sass/mhighslide.scss */
.controls-in-heading .highslide-controls ul {
  position: static;
  height: 20px;
  background: none;
}

/* line 576, ../sass/mhighslide.scss */
.controls-in-heading .highslide-controls li {
  padding: 0;
}

/* line 579, ../sass/mhighslide.scss */
.controls-in-heading .highslide-controls a {
  background-image: url(../img/controlbar-white-small.gif);
  height: 20px;
  width: 20px;
}

/* line 585, ../sass/mhighslide.scss */
.controls-in-heading .highslide-controls .highslide-move {
  display: none;
}

/* line 589, ../sass/mhighslide.scss */
.controls-in-heading .highslide-controls .highslide-previous a {
  background-position: 0 0;
}

/* line 592, ../sass/mhighslide.scss */
.controls-in-heading .highslide-controls .highslide-previous a:hover {
  background-position: 0 -20px;
}

/* line 595, ../sass/mhighslide.scss */
.controls-in-heading .highslide-controls .highslide-previous a.disabled {
  background-position: 0 -40px !important;
}

/* line 598, ../sass/mhighslide.scss */
.controls-in-heading .highslide-controls .highslide-play a {
  background-position: -20px 0;
}

/* line 601, ../sass/mhighslide.scss */
.controls-in-heading .highslide-controls .highslide-play a:hover {
  background-position: -20px -20px;
}

/* line 604, ../sass/mhighslide.scss */
.controls-in-heading .highslide-controls .highslide-play a.disabled {
  background-position: -20px -40px !important;
}

/* line 607, ../sass/mhighslide.scss */
.controls-in-heading .highslide-controls .highslide-pause a {
  background-position: -40px 0;
}

/* line 610, ../sass/mhighslide.scss */
.controls-in-heading .highslide-controls .highslide-pause a:hover {
  background-position: -40px -20px;
}

/* line 613, ../sass/mhighslide.scss */
.controls-in-heading .highslide-controls .highslide-next a {
  background-position: -60px 0;
}

/* line 616, ../sass/mhighslide.scss */
.controls-in-heading .highslide-controls .highslide-next a:hover {
  background-position: -60px -20px;
}

/* line 619, ../sass/mhighslide.scss */
.controls-in-heading .highslide-controls .highslide-next a.disabled {
  background-position: -60px -40px !important;
}

/* line 622, ../sass/mhighslide.scss */
.controls-in-heading .highslide-controls .highslide-full-expand a {
  background-position: -100px 0;
}

/* line 625, ../sass/mhighslide.scss */
.controls-in-heading .highslide-controls .highslide-full-expand a:hover {
  background-position: -100px -20px;
}

/* line 628, ../sass/mhighslide.scss */
.controls-in-heading .highslide-controls .highslide-full-expand a.disabled {
  background-position: -100px -40px !important;
}

/* line 631, ../sass/mhighslide.scss */
.controls-in-heading .highslide-controls .highslide-close a {
  background-position: -120px 0;
}

/* line 634, ../sass/mhighslide.scss */
.controls-in-heading .highslide-controls .highslide-close a:hover {
  background-position: -120px -20px;
}

/*****************************************************************************/
/* Styles for text based controls.						                     */
/* You can safely remove this if you don't use text based controls			 */
/*****************************************************************************/
/* line 643, ../sass/mhighslide.scss */
.text-controls .highslide-controls {
  width: auto;
  height: auto;
  margin: 0;
  text-align: center;
  background: none;
}

/* line 650, ../sass/mhighslide.scss */
.text-controls ul {
  position: static;
  background: none;
  height: auto;
  left: 0;
}

/* line 656, ../sass/mhighslide.scss */
.text-controls .highslide-move {
  display: none;
}

/* line 659, ../sass/mhighslide.scss */
.text-controls li {
  background-image: url(../img/controlbar-text-buttons.png);
  background-position: right top !important;
  padding: 0;
  margin-left: 15px;
  display: block;
  width: auto;
}

/* line 667, ../sass/mhighslide.scss */
.text-controls a {
  background: url(../img/controlbar-text-buttons.png) no-repeat;
  background-position: left top !important;
  position: relative;
  left: -10px;
  display: block;
  width: auto;
  height: auto;
  text-decoration: none !important;
}

/* line 677, ../sass/mhighslide.scss */
.text-controls a span {
  background: url(../img/controlbar-text-buttons.png) no-repeat;
  margin: 1px 2px 1px 10px;
  display: block;
  min-width: 4em;
  height: 18px;
  line-height: 18px;
  padding: 1px 0 1px 18px;
  color: #444;
  font-family: Verdana, Helvetica;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
}

/* line 691, ../sass/mhighslide.scss */
.text-controls .highslide-next {
  margin-right: 1em;
}

/* line 694, ../sass/mhighslide.scss */
.text-controls .highslide-full-expand a span {
  min-width: 0;
  margin: 1px 0;
  padding: 1px 0 1px 10px;
}

/* line 699, ../sass/mhighslide.scss */
.text-controls .highslide-close a span {
  min-width: 0;
}

/* line 702, ../sass/mhighslide.scss */
.text-controls a:hover span {
  color: black;
}

/* line 705, ../sass/mhighslide.scss */
.text-controls a.disabled span {
  color: #999;
}

/* line 709, ../sass/mhighslide.scss */
.text-controls .highslide-previous span {
  background-position: 0 -40px;
}

/* line 712, ../sass/mhighslide.scss */
.text-controls .highslide-previous a.disabled {
  background-position: left top !important;
}

/* line 715, ../sass/mhighslide.scss */
.text-controls .highslide-previous a.disabled span {
  background-position: 0 -140px;
}

/* line 718, ../sass/mhighslide.scss */
.text-controls .highslide-play span {
  background-position: 0 -60px;
}

/* line 721, ../sass/mhighslide.scss */
.text-controls .highslide-play a.disabled {
  background-position: left top !important;
}

/* line 724, ../sass/mhighslide.scss */
.text-controls .highslide-play a.disabled span {
  background-position: 0 -160px;
}

/* line 727, ../sass/mhighslide.scss */
.text-controls .highslide-pause span {
  background-position: 0 -80px;
}

/* line 730, ../sass/mhighslide.scss */
.text-controls .highslide-next span {
  background-position: 0 -100px;
}

/* line 733, ../sass/mhighslide.scss */
.text-controls .highslide-next a.disabled {
  background-position: left top !important;
}

/* line 736, ../sass/mhighslide.scss */
.text-controls .highslide-next a.disabled span {
  background-position: 0 -200px;
}

/* line 739, ../sass/mhighslide.scss */
.text-controls .highslide-full-expand span {
  background: none;
}

/* line 742, ../sass/mhighslide.scss */
.text-controls .highslide-full-expand a.disabled {
  background-position: left top !important;
}

/* line 745, ../sass/mhighslide.scss */
.text-controls .highslide-close span {
  background-position: 0 -120px;
}

/*****************************************************************************/
/* Styles for the thumbstrip.							                     */
/* See www.highslide.com/ref/hs.addSlideshow    							 */
/* You can safely remove this if you don't use a thumbstrip 				 */
/*****************************************************************************/
/* line 756, ../sass/mhighslide.scss */
.highslide-thumbstrip {
  height: 100%;
  direction: ltr;
}

/* line 760, ../sass/mhighslide.scss */
.highslide-thumbstrip div {
  overflow: hidden;
}

/* line 763, ../sass/mhighslide.scss */
.highslide-thumbstrip table {
  position: relative;
  padding: 0;
  border-collapse: collapse;
}

/* line 768, ../sass/mhighslide.scss */
.highslide-thumbstrip td {
  padding: 1px;
  /*text-align: center;*/
}

/* line 772, ../sass/mhighslide.scss */
.highslide-thumbstrip a {
  outline: none;
}

/* line 775, ../sass/mhighslide.scss */
.highslide-thumbstrip img {
  display: block;
  border: 1px solid #666;
  margin: 0 auto;
}

/* line 780, ../sass/mhighslide.scss */
.highslide-thumbstrip .highslide-active-anchor img {
  visibility: visible;
}

/* line 783, ../sass/mhighslide.scss */
.highslide-thumbstrip .highslide-marker {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  /* change this to actual background color in highslide-ie6.css */
}

/* line 791, ../sass/mhighslide.scss */
.highslide-thumbstrip-horizontal div {
  width: auto;
  /* width: 100% breaks in small strips in IE */
}

/* line 795, ../sass/mhighslide.scss */
.highslide-thumbstrip-horizontal .highslide-scroll-up {
  display: none;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 25px;
  height: 42px;
}

/* line 803, ../sass/mhighslide.scss */
.highslide-thumbstrip-horizontal .highslide-scroll-up div {
  margin-bottom: 10px;
  cursor: pointer;
  background: url(../img/scrollarrows.png) left center no-repeat;
  height: 42px;
}

/* line 809, ../sass/mhighslide.scss */
.highslide-thumbstrip-horizontal .highslide-scroll-down {
  display: none;
  position: absolute;
  top: 3px;
  right: 3px;
  width: 25px;
  height: 42px;
}

/* line 817, ../sass/mhighslide.scss */
.highslide-thumbstrip-horizontal .highslide-scroll-down div {
  margin-bottom: 10px;
  cursor: pointer;
  background: url(../img/scrollarrows.png) center right no-repeat;
  height: 42px;
}

/* line 823, ../sass/mhighslide.scss */
.highslide-thumbstrip-horizontal table {
  margin: 2px 0 10px 0;
}

/* line 826, ../sass/mhighslide.scss */
.highslide-viewport .highslide-thumbstrip-horizontal table {
  margin-left: 10px;
}

/* line 829, ../sass/mhighslide.scss */
.highslide-thumbstrip-horizontal img {
  width: auto;
  height: 40px;
}

/* line 833, ../sass/mhighslide.scss */
.highslide-thumbstrip-horizontal .highslide-marker {
  top: 47px;
  border-left-width: 6px;
  border-right-width: 6px;
  border-bottom: 6px solid #666;
}

/* line 839, ../sass/mhighslide.scss */
.highslide-viewport .highslide-thumbstrip-horizontal .highslide-marker {
  margin-left: 10px;
}

/* line 842, ../sass/mhighslide.scss */
.dark .highslide-thumbstrip-horizontal .highslide-marker, .highslide-viewport .highslide-thumbstrip-horizontal .highslide-marker {
  border-bottom-color: #fff !important;
}

/* line 846, ../sass/mhighslide.scss */
.highslide-thumbstrip-vertical-overlay {
  overflow: hidden !important;
}

/* line 849, ../sass/mhighslide.scss */
.highslide-thumbstrip-vertical div {
  height: 100%;
}

/* line 852, ../sass/mhighslide.scss */
.highslide-thumbstrip-vertical a {
  display: block;
}

/* line 855, ../sass/mhighslide.scss */
.highslide-thumbstrip-vertical .highslide-scroll-up {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
}

/* line 863, ../sass/mhighslide.scss */
.highslide-thumbstrip-vertical .highslide-scroll-up div {
  margin-left: 10px;
  cursor: pointer;
  background: url(../img/scrollarrows.png) top center no-repeat;
  height: 25px;
}

/* line 869, ../sass/mhighslide.scss */
.highslide-thumbstrip-vertical .highslide-scroll-down {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
}

/* line 877, ../sass/mhighslide.scss */
.highslide-thumbstrip-vertical .highslide-scroll-down div {
  margin-left: 10px;
  cursor: pointer;
  background: url(../img/scrollarrows.png) bottom center no-repeat;
  height: 25px;
}

/* line 883, ../sass/mhighslide.scss */
.highslide-thumbstrip-vertical table {
  margin: 10px 0 0 10px;
}

/* line 886, ../sass/mhighslide.scss */
.highslide-thumbstrip-vertical img {
  width: 60px;
  /* t=5481 */
}

/* line 889, ../sass/mhighslide.scss */
.highslide-thumbstrip-vertical .highslide-marker {
  left: 0;
  margin-top: 8px;
  border-top-width: 6px;
  border-bottom-width: 6px;
  border-left: 6px solid #666;
}

/* line 896, ../sass/mhighslide.scss */
.dark .highslide-thumbstrip-vertical .highslide-marker, .highslide-viewport .highslide-thumbstrip-vertical .highslide-marker {
  border-left-color: #fff;
}

/* line 900, ../sass/mhighslide.scss */
.highslide-viewport .highslide-thumbstrip-float {
  overflow: auto;
}

/* line 903, ../sass/mhighslide.scss */
.highslide-thumbstrip-float ul {
  margin: 2px 0;
  padding: 0;
}

/* line 907, ../sass/mhighslide.scss */
.highslide-thumbstrip-float li {
  display: block;
  height: 60px;
  margin: 0 2px;
  list-style: none;
  float: left;
}

/* line 914, ../sass/mhighslide.scss */
.highslide-thumbstrip-float img {
  display: inline;
  border-color: #c0c0c0;
  max-height: 56px;
}

/* line 919, ../sass/mhighslide.scss */
.highslide-thumbstrip-float .highslide-active-anchor img {
  border-color: black;
}

/* line 922, ../sass/mhighslide.scss */
.highslide-thumbstrip-float .highslide-scroll-up div, .highslide-thumbstrip-float .highslide-scroll-down div {
  display: none;
}

/* line 925, ../sass/mhighslide.scss */
.highslide-thumbstrip-float .highslide-marker {
  display: none;
}
